# <p style="font-family: serif; font-size:2.2em; text-align: center;"><u>Analyse des données</u></p>

# <p style="font-family: serif; font-size:2.2em; text-align: center;"><u>Nettoyage des données</u></p>

# Chargement et description des données

Dans la continuité du projet Cliiink, nous avons besoin de ressources complementaire dont l'utilité est pour l'analyse approfondie... bla bla bla
Les données collectées proviennent (sont issue) de " ... "

Nous nous basons sur les données diffusée dans le " ... "

par convenance pure, nous modifions le nombre de lignes à afficher.
L'idée est d'éviter que le tutoriel se résume à de multples affichages de longs tableaux

Dans le cadre du projet, on ne garde que les villes concernée ainsi que les colonnes pertinantes

In [3]:
# Ici on importe la librairie pandas
import pandas as pd
# On modifie le nombre de lignes à afficher
pd.options.display.max_rows = 5
# Lecture du fichier csv
data = pd.read_csv("../Data/societes-immatriculees-2020.csv", sep = ";")

In [4]:
data

,Dénomination,Siren,Nic,Forme Juridique,Code APE,Secteur d'activité,Adresse,Code postal,Ville,Num. dept.,...,Nom commercial,Date immatriculation origine,Sigle,Devise,Durée,Date cloture 1er exercice,Date arreté des comptes,Etat,etat_pub,fiche_identite
0,TG PRO,880330980,17.0,Societe par actions simplifiee,4941A,Transports routiers de fret interurbains,43 BOULEVARD DU VALLON,13015,MARSEILLE,13,...,NaN,2020-01-07,NaN,Euros,NaN,2020-12-31,31/12,Nouveau,A,https://www.infogreffe.fr/infogreffe/ficheIden...
1,VASTECH,879961407,19.0,Societe a responsabilite limitee a associe unique,4511Z,Commerce de voitures et de vehicules automobil...,282 B AVENUE DE LA CALIFORNIE,6200,NICE,6,...,NaN,2020-01-07,NaN,Euros,NaN,2020-12-31,31/12,Nouveau,A,https://www.infogreffe.fr/infogreffe/ficheIden...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17429,YCI,890650211,18.0,Societe par actions simplifiee a associe unique,7490B,"Activites specialisees, scientifiques et techn...",22 ANCIENNE VOIE AURELIA,13210,ST REMY DE PROVENCE,13,...,NaN,NaN,11/8/2020,NaN,NaN,NaN,Euros,NaN,12/31/2021,31/12
17430,YSN,890702889,19.0,Societe par actions simplifiee,NaN,NaN,142 AVENUE DE SAINT LOUIS,13015,MARSEILLE,13,...,NaN,NaN,11/8/2020,NaN,NaN,NaN,Euros,NaN,12/31/2021,31/12

In [5]:
df = data.loc[data["Ville"].isin(['CANNES','LE CANNET','MOUGINS','MANDELIEU LA NAPOULE',"THEOULE SUR MER"])][["Dénomination","Siren","Secteur d'activité","Adresse","Code postal", "Ville", "Geolocalisation"]].reset_index(drop=True)

In [6]:
df

,Dénomination,Siren,Secteur d'activité,Adresse,Code postal,Ville,Geolocalisation
0,SASU SEBTAXI,880244686,NaN,8 TRAVERSE DE L ESTELLE,6110,LE CANNET,"43.572771,6.997045"
1,RIEN 100 RIEN,880259460,NaN,31 BOULEVARD DU MOULIN,6400,CANNES,"43.554445,7.006428"
...,...,...,...,...,...,...,...
702,1984 EVENT,890672595,"Organisation de foires, salons professionnels ...",6 AVENUE JEAN DE NOAILLES,6400,CANNES,"43.551657,7.003426"
703,KODU YACHT AND PROPERTY SERVICES,890714173,Services administratifs combines de bureau,5 CHEMIN DE L INDUSTRIE,6110,LE CANNET,"43.574134,6.990376"

In [8]:
# Liste des villes du pays de lerins
liste_ville = ['CANNES','LE CANNET','MOUGINS','MANDELIEU LA NAPOULE',"THEOULE SUR MER"]

In [774]:
# Liste des colonnes pertinantes
liste_col = ["Dénomination","Siren","Secteur d'activité","Adresse","Code postal", "Ville", "Geolocalisation"]

In [775]:
# On ne garde que les villes concernée ainsi que les colonnes pertinantes
df = data.loc[data["Ville"].isin(liste_ville)][liste_col].reset_index(drop=True)
# Affichage du jeu de données
df

,Dénomination,Siren,Secteur d'activité,Adresse,Code postal,Ville,Geolocalisation
0,SASU SEBTAXI,880244686,NaN,8 TRAVERSE DE L ESTELLE,6110,LE CANNET,"43.572771,6.997045"
1,RIEN 100 RIEN,880259460,NaN,31 BOULEVARD DU MOULIN,6400,CANNES,"43.554445,7.006428"
...,...,...,...,...,...,...,...
702,1984 EVENT,890672595,"Organisation de foires, salons professionnels ...",6 AVENUE JEAN DE NOAILLES,6400,CANNES,"43.551657,7.003426"
703,KODU YACHT AND PROPERTY SERVICES,890714173,Services administratifs combines de bureau,5 CHEMIN DE L INDUSTRIE,6110,LE CANNET,"43.574134,6.990376"

In [776]:
# On automatise la lecture des valeurs manquantes
def constat(df):
    print
    (df.info())
    print("\nOn constate qu'il manque", end = "")
    [print
     (" "+str(df[i].isna().sum())+" "+i if df[i].count()<df.shape[0] else "", end = "") 
     for i in df.columns]
#constat(df)

# Dans un soucis de méticulosité, la vérification et les notes sont éffectuer manuellement
# Détection d'éventuelles anomalies
print
(df.info())
# On affiche les valeurs manquantes
print("\nOn constate qu'il manque "
      +str(df["Secteur d'activité"].isna().sum())
      +" Secteur d'activité ainsi que "
      +str(df.Geolocalisation.isna().sum())+
      " Geolocalisation")
# Ici les données non-numérique ne sont pas pértinantes 
print
(df.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Dénomination        704 non-null    object
 1   Siren               704 non-null    int64
 2   Secteur d'activité  511 non-null    object
 3   Adresse             704 non-null    object
 4   Code postal         704 non-null    int64
 5   Ville               704 non-null    object
 6   Geolocalisation     578 non-null    object
dtypes: int64(2), object(5)
memory usage: 38.6+ KB

On constate qu'il manque 193 Secteur d'activité ainsi que 126 Geolocalisation

,Dénomination,Siren,Secteur d'activité,Adresse,Code postal,Ville,Geolocalisation
count,704,704.0,511,704,704.0,704,578
unique,703,NaN,141,566,NaN,5,486
...,...,...,...,...,...,...,...
75%,NaN,888058025.0,NaN,NaN,6400.0,NaN,NaN
max,NaN,890761273.0,NaN,NaN,6590.0,NaN,NaN

On ne conserve que les entreprise qui ont un Dénominateur et une Géolocalisation

In [784]:
# Exemple de secteur d'activité null
df.loc[1]["Secteur d'activité"]

'Autres services personnels n.c.a.'

In [785]:
# Suppréssion des données inéxploitables
#df.dropna()
#df.reset_index(drop=True)
df = df.dropna().reset_index(drop=True)

In [786]:
print("Dans se jeu de donnée on se conserve que "
      +str(df.shape[0])
      +" lignes")

Dans se jeu de donnée on se conserve que 412 lignes

In [787]:
# Affichage du jeu de données
df

,Dénomination,Siren,Secteur d'activité,Adresse,Code postal,Ville,Geolocalisation
0,Cuisine Et Bain 06,882487705,Travaux de peinture et vitrerie,101 chemin saint joseph,06110,Le Cannet,"43.563266,6.977292"
1,Drink & Test,882542665,Autres services personnels n.c.a.,9 rue pons,06400,Cannes,"43.558865,7.023065"
2,Kigiez,882545700,"Photocopie, prep. de documents et autres acti....",34 avenue bir hakeim,06110,Le Cannet,"43.569636,6.980269"
3,Sas Prime Azur,882559487,Autres services personnels n.c.a.,18 rue lord byron,06400,Cannes,"43.56272,7.019244"
4,Lf Cannes Riouffe,885331553,Location de logements,51 avenue maurice utrillo,06210,Mandelieu La Napoule,"43.543831,6.912668"
...,...,...,...,...,...,...,...
407,Konseils,881023493,Commerce de gros (commerce interentreprises) n...,12 avenue des arlucs,06150,Cannes,"43.743788,7.400051"
408,L.A Distribution & Logistique,881254692,Commerce de gros d'equipements automobiles,1 rue des roches,06110,Le Cannet,"44.123273,7.027264"
409,Dhole.Net,881188353,Vente a distance sur catalogue general,1 allee du dedela,06110,Le Cannet,"43.574379,7.010782"
410,1984 Event,890672595,"Organisation de foires, salons professionnels ...",6 avenue jean de noailles,06400,Cannes,"43.551657,7.003426"
411,Kodu Yacht And Property Services,890714173,Services administratifs combines de bureau,5 chemin de l industrie,06110,Le Cannet,"43.574134,6.990376"

---

# <p style="font-family: serif; font-size:2.2em; text-align: center;"><u>Normalisation des données</u></p>

On constate certaines anomalies dans le jeux de données tel que les code postaux, le nom des villes, ext...

In [781]:
# Rectification des code postaux
df["Code postal"] = "0" + df["Code postal"].astype(str)
# On affiche les adresses en minuscule
df["Adresse"] = df["Adresse"].str.lower()
# On affiche le nom des villes en minuscule sauf les premieres lettres
df["Ville"] = df["Ville"].str.title()
# On affiche le nom des entreprises en minuscule sauf les premieres lettres
df["Dénomination"] = df["Dénomination"].str.title()

# Exemple du jeu de données après conversion
df.head()

,Dénomination,Siren,Secteur d'activité,Adresse,Code postal,Ville,Geolocalisation
0,Cuisine Et Bain 06,882487705,Travaux de peinture et vitrerie,101 chemin saint joseph,06110,Le Cannet,"43.563266,6.977292"
1,Drink & Test,882542665,Autres services personnels n.c.a.,9 rue pons,06400,Cannes,"43.558865,7.023065"
2,Kigiez,882545700,"Photocopie, prep. de documents et autres acti....",34 avenue bir hakeim,06110,Le Cannet,"43.569636,6.980269"
3,Sas Prime Azur,882559487,Autres services personnels n.c.a.,18 rue lord byron,06400,Cannes,"43.56272,7.019244"
4,Lf Cannes Riouffe,885331553,Location de logements,51 avenue maurice utrillo,06210,Mandelieu La Napoule,"43.543831,6.912668"

---

# <p style="font-family: serif; font-size:2.2em; text-align: center;"><u>Création des DataFrames</u></p>

In [782]:
pd.reset_option('display.max_rows')

In [783]:
len(df["Secteur d'activité"].value_counts())

124